/* Colors design */

:root {
    --primary: #008663;
    --secondary: #b90f34;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-white {
    color: #470f0f !important;
}


.bg-color{
    background-color: rgb(199, 226, 217);
}
